
body{
	text-align: center;
	background-image: url("http://i.imgur.com/DugnB83.jpg?1");
	background-size: auto 700px;
	background-repeat: no-repeat;
	
}

.login{
	position: absolute;
	right: 0px;
}

.nav-tabs{
	background-color: lightblue;
}


/*home page*/


.img{
	height: 64px;
	width: 50px;
	border-radius: 5px;
	/*display: inline-block;*/
}

.img-div{
	padding-left: 8px;
	margin-top: 20px;
	display: flex;

}

.textarea{
	margin-left: 20px;
	margin-right: 10px;
	text-align: center;
}

.btn-post{
	margin-top: 5px;
	margin-bottom: 5px;

}


/*post*/


#posts > div{
	background-color: white;
	margin-top: 20px;
	word-break: break-all;	
	padding: 10px;
	border-radius: 5px;
}





/*for commint and like section*/


.para{
	display: none;
}